<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325366404592-07om0um836d1msrqbll4p6hugth7dff5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325366404592-07om0um836d1msrqbll4p6hugth7dff5</string>
	<key>API_KEY</key>
	<string>AIzaSyDrTq94HGBqQWeZEvo0nC9oCU26QPXlx_w</string>
	<key>GCM_SENDER_ID</key>
	<string>325366404592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kubickiengineering.retroCheck</string>
	<key>PROJECT_ID</key>
	<string>game-swap-hub</string>
	<key>STORAGE_BUCKET</key>
	<string>game-swap-hub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325366404592:ios:c4d46ba18c30747b5ef935</string>
</dict>
</plist>
